<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header" style="background-color: #ffefbb !important">
        <h1 class="h4" >
          Login
        </h1>
      </div>
        <img class="mx-auto d-block logo m-4 img-fluid" src="/img/Safe-bro.png" alt="Logo">
      <div class="card-body">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button class="btn btn-block btn-dark btn-lg" style="background-color: #010101 !important">
            Iniciar Session
          </button>
        </form>
      </div>
    </div>
  </div>
</div>