.Home {
  width: 100%;
  min-height: calc(100vh - 60px);
  background-repeat: repeat;
  color: #010101;
  display: flex;
  align-items: center;
}

.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home_teacher_img {
  max-width: 50%;
}

@media screen and (min-width: 768px) {
  .Home__col {
    align-items: flex-start;
  }
}
