.students__hero {
  width: 100%;
  padding: 2rem 0;
  background-repeat: repeat;
  margin-bottom: 1rem;
}

.students__hero>.students__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.students__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 1rem;
}

.students_conf-logo {
  margin-bottom: 2rem;
}

.students__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}