.studentDetails__hero {
  width: 100%;
  padding: 2rem 0;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
}

.studentDetails__hero-attendant-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.studentDetails__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}