{{!-- <div class="jumbotron mt-4"> --}}
    <div class="p-4 p-md-5 mb-4 container text-white rounded"
        style="color:#010101 !important; background-color: #ffefbb !important">
        <div class="row">
            <div class="col-6 px-0">
                <h1 class="display-4">Bienvenido</h1>
                <p class="lead my-3"> Esta es una
                    Aplicación web para crear Notas, Contempla funciones basicas de un CRUD con nodejs, más un Login con
                    password cifradas, utiliza Mongodb para alojar sus datos,
                    como motor de plantillas posee handlebars y
                    estilos con CSS y Bootstrap4.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col4">
                            <img src="/img/nodejs.png" class="rounded mx-auto d-block" alt="">
                        </div>
                        <div class="col-4">
                            <img src="/img/mongodb.png" class="rounded mx-auto d-block" alt="">
                        </div>
                        <div class="col4">
                            <img src="/img/handlebars.png" class="rounded mx-auto d-block" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <a href="/users/signup" class="btn btn-dark btn-lg"
                        style="background-color: #010101 !important">SignUp</a>
                </div>
            </div>
            <div class="col-6">
                <img src="/img/Notes-bro.png" style="height: 70vh;" class="img-fluid rounded mx-auto d-block" alt="">
            </div>
        </div>
    </div>